@use '../../styles/variables' as var;

.footer {
  margin-top: 60px;

  &__newsletter {
    background-color: #2A2242; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px 20px;

    .newsletter-content {
      h3 { font-size: 24px; font-weight: 300; margin-bottom: 8px; }
      p { font-size: 14px; font-weight: 300; }
    }

    .newsletter-form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .newsletter-form {
        display: flex;
        gap: 16px;

        input {
          padding: 14px 16px;
          border: 1px solid #ddd;
          border-radius: 4px;
          width: 250px;
          font-size: 14px;
          outline: none;
        }

        button {
          background-color: var.$color-yellow; 
          color: var.$color-secondary;
          border: none;
          padding: 14px 32px;
          border-radius: 4px;
          font-weight: bold;
          cursor: pointer;
        }
      }

      .newsletter-terms {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 12px;
        font-weight: 300;
        
        input[type="checkbox"] {
          width: 14px; height: 14px;
        }
      }
    }
  }

  &__main {
    background-color: var.$color-background; 
    color: var.$color-secondary; 
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 40px;

    .footer__info {
      width: 300px;
      .footer-logo { max-width: 150px; margin-bottom: 24px; }
      p { font-size: 13px; line-height: 1.6; margin-bottom: 24px;}
      .social-icons {
        display: flex;
        gap: 16px;
        span { font-size: 14px; font-weight: bold; cursor: pointer; }
      }
    }

    .footer__links {
      display: flex;
      gap: 80px;

      .footer__column {
        h4 {
          font-size: 16px;
          margin-bottom: 24px;
          font-weight: 700;
        }

        ul {
          list-style: none;
          li {
            margin-bottom: 16px;
            a {
              color: var.$color-secondary; 
              text-decoration: none;
              font-size: 13px;
              font-weight: 300;
              &:hover { color: var.$color-primary; }
            }
          }
        }
      }
    }
  }

  &__bottom {
    background-color: var.$color-background; 
    color: var.$color-secondary;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    font-weight: 300;
  }
}